body {
  background-color: green;
  font-size: 8vw;
}
img {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
div#login {
  display: grid;
  border: 2vw groove blueviolet;
  padding-top: 1vw;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  max-width: 800px;
  background-image: repeating-radial-gradient(farthest-corner at 50% 30%, limegreen, purple 20%);
}
input {
  width: 35%;
  height: 5vw;
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-bottom: 1vw;
  font-size: 3vw;
  text-indent: 1ex;
  background: linear-gradient(135deg, cyan, limegreen);
  color: #437070;
  transition: width 0.5s;
}
input:hover {
  color: transparent;
  width: 75%;
}
input:focus {
  width: 75%;
  color: #437070;
}
.nav {
  position: absolute;
  right: 1%;
  top: 2%;
  font-size: 3vw;
  padding: 15px;
  border: solid black 2px;
  background: linear-gradient(135deg, cyan, limegreen);
}
#div1,
#div2,
#div3 {
  border: solid black 1px;
  margin: 10px;
  padding: 5px;
}
