
@back: green;
@fullScreen: 100%;
@loginItem : 300px;
    

body{
    background-color: @back;
    font-size: 8vw;
}

img {
    
    width: @loginItem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    
}
div#login{
    display: grid;
    border: 2vw groove blueviolet;
    padding-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    max-width: 800px;
    background-image: repeating-radial-gradient(purple, limegreen 10%);
}

input {
    width: @loginItem;
    height: 5vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 1vw;
    font-size: 3vw;
    text-indent: 1ex;
}