
@back: green;
@fullScreen: 100%;
@loginItem : 75%;
    

body{
    background-color: @back;
    font-size: 8vw;
}

img {
    
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    
}
div#login{
    display: grid;
    border: 2vw groove blueviolet;
    padding-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    max-width: 800px;
    background-image: repeating-radial-gradient(farthest-corner at 50% 30%, limegreen, purple 20%);
}

input {
    width: 35%;
    height: 5vw;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 1vw;
    font-size: 3vw;
    text-align: center;
    background: linear-gradient(135deg,cyan, limegreen);
    color: #437070;
    transition: width .5s, height .5s;
}
input:hover {
    color: transparent;
    width: @loginItem;
    
    
}
input:focus{
    width: @loginItem;
    color: #437070;
    
    
}
.nav {
    height: 1em;
    width: 1em;
    position: absolute;
    right: 1%;
    top: 2%;
    font-size: 3vw;
    padding: 15px;
    border: solid black 2px;
    background: linear-gradient(135deg,cyan, limegreen);
    transition: width .5s, height .5s;
}
.divs{
    border: solid black 1px;
    display:none;
}
.nav:hover {
    width: 350px;
    height: 400px;
}
.nav:hover ul li{
    display: block;
    background-color: white;
    margin-top: 30px
}